<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBX-9jz-oeyftio5tV0z-adbzqlWEfeH9A</string>
	<key>GCM_SENDER_ID</key>
	<string>885976691056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examiapp</string>
	<key>PROJECT_ID</key>
	<string>examiapp-2093f</string>
	<key>STORAGE_BUCKET</key>
	<string>examiapp-2093f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885976691056:ios:6c5a0e8fce442b1db05fb5</string>
</dict>
</plist>